[filament_motion_sensor filament_sensor]
detection_length: 7
#   The minimum length of filament pulled through the sensor to trigger
#   a state change on the switch_pin
#   Default is 7 mm.
extruder: extruder
switch_pin: PF8 # !PF8
pause_on_runout: True
runout_gcode:
    G91
    G1 E-30 F2500
    G90
    G1 X0 Y0 F30000
    M104 S0
insert_gcode:
    M117 Filament Detected
#event_delay:
#pause_delay:


# [filament_switch_sensor filament_sensor]
# pause_on_runout: true
# switch_pin: PF8
# runout_gcode:
#     G91
#     G1 E-30 F2500
#     G90
#     G1 X0 Y0 F30000
#     M104 S0