[heater_bed]
heater_pin: pico:gpio21
sensor_pin: pico:gpio26
smooth_time: 3.0
min_temp: 0
max_temp: 120
# max_power: 0.8
sensor_type: Generic 3950
control: pid
# defaults ~ pid_Kp=68.453 pid_Ki=2.749 pid_Kd=426.122
pid_kp: 46.085   # 28.895
pid_ki: 2.076    # 0.827
pid_kd: 255.765  # 252.464
pwm_cycle_time: 0.0166       # 60Hz flicker reduction

[bed_screws]
screw1: 60,7
screw1_name: front center
screw2: 3,116
screw2_name: back left
screw3: 115,116
screw3_name: back right
