[mcu pico]
canbus_uuid: 2e64f5de5b4f
#serial: /dev/serial/by-id/usb-Klipper_rp2040_45503571278E8B28-if00
# serial: /dev/serial/by-id/usb-CanBoot_rp2040_45503571288CFB38-if00

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 10000                 # 15400
minimum_cruise_ratio: 0.5
max_z_velocity: 25
max_z_accel: 50
square_corner_velocity: 5        # 10 / 5

# motor B
[stepper_x]
step_pin: pico:gpio11
dir_pin: pico:gpio10
enable_pin: !pico:gpio12
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 122
position_max: 122
homing_speed: 30
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: pico:gpio9
tx_pin: pico:gpio8
uart_address: 0
interpolate: False
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^pico:gpio4 
driver_SGTHRS: 70

# motor A
[stepper_y]
step_pin: pico:gpio6
dir_pin: pico:gpio5
enable_pin: !pico:gpio7
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 120
position_max: 120
homing_speed: 30
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin: pico:gpio9
tx_pin: pico:gpio8
uart_address: 2
interpolate: False
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^pico:gpio3
driver_SGTHRS: 90

[stepper_z]
step_pin: pico:gpio19
dir_pin: !pico:gpio28
enable_pin: !pico:gpio2
rotation_distance: 8
microsteps: 32
endstop_pin: ^pico:gpio25
position_endstop: 113.555   # 113.425 / 113.565
position_max: 120
position_min: -2
homing_speed: 30
second_homing_speed: 3.0
homing_retract_dist: 3.0

[tmc2209 stepper_z]
uart_pin: pico:gpio9
tx_pin: pico:gpio8
uart_address: 1
interpolate: False
run_current: 0.37
sense_resistor: 0.110
stealthchop_threshold: 0

[idle_timeout]
gcode:
    SET_FAN_SPEED FAN=MCU_fan SPEED=0.25
    SET_PIN PIN=Case_LEDs VALUE=0
    SET_PIN PIN=Nozzle_LEDs VALUE=0.03
    KITT_OFF
timeout: 1800


########################################
## Fans
########################################
[fan_generic MCU_fan]
pin: pico:gpio20
max_power: 1.0
shutdown_speed: 0
kick_start_time: 0.5

[fan_generic RSCS]
pin: pico:gpio17
max_power: 1.0
shutdown_speed: 0
kick_start_time: 0.5

# [controller_fan MCU_fan]
# pin: pico:gpio20
# max_power: 1.0
# shutdown_speed: 0
# kick_start_time: 0.5
# heater: heater_bed
# stepper: stepper_x, stepper_y, stepper_z
# fan_speed: 1.0


########################################
## Temp Sensors
########################################
[temperature_sensor pico]
sensor_type: temperature_mcu
sensor_mcu: pico
gcode_id: pico

[temperature_sensor Chamber]
sensor_type: Generic 3950
sensor_pin: pico:gpio27
min_temp: -10
max_temp: 100


########################################
## LEDs
########################################
[output_pin Case_LEDs]
pin: pico:gpio18
pwm: true
shutdown_value: 0
value: 0.00
cycle_time: 0.0166

[neopixel pico_led]
pin: pico:gpio24
chain_count: 12
color_order: GRB
initial_RED: 0.3
initial_GREEN: 0.0
initial_BLUE: 0.0

[gcode_macro CYLON_ON]
gcode:
    SET_LED_EFFECT EFFECT=KITT STOP=1
    SET_LED_EFFECT EFFECT=CYLON STOP=0

[gcode_macro CYLON_OFF]
gcode:
    SET_LED_EFFECT EFFECT=CYLON STOP=1

[gcode_macro KITT_ON]
gcode:
    SET_LED_EFFECT EFFECT=CYLON STOP=1
    SET_LED_EFFECT EFFECT=KITT STOP=0

[gcode_macro KITT_OFF]
gcode:
    SET_LED_EFFECT EFFECT=KITT STOP=1

[led_effect KITT]
autostart: false
frame_rate: 24
leds:
    neopixel:pico_led (1,1,1,2,2,2,3,3,3,4,4,4,5,5,5,6,6,6,7,7,7,8,8,8,7,7,7,6,6,6,5,5,5,4,4,4,3,3,3,2,2,2,1,1,1)
layers:
    comet   1 .5 add (.2,0,0),(0.5,0,0),(0.5,0,0)

[led_effect CYLON]
autostart: false
frame_rate: 24
leds:
    neopixel:pico_led (1,1,1,2,2,2,3,3,3,4,4,4,5,5,5,6,6,6,7,7,7,8,8,8,7,7,7,6,6,6,5,5,5,4,4,4,3,3,3,2,2,2,1,1,1)
layers:
    comet   .5 .35 add (.2,0,0),(0.5,0,0),(0.5,0,0)

# [led_effect CYLON]
# autostart: false
# frame_rate: 24
# leds:
# #    neopixel:pico_led (1)
#     neopixel:pico_led (1,1,1,2,2,2,3,3,3,4,4,4,5,5,5,6,6,6,7,7,7,8,8,8,7,7,7,6,6,6,5,5,5,4,4,4,3,3,3,2,2,2,1,1,1)
# ###    neopixel:pico_led (1,2,2,3,3,4,4,5,5,6,6,7,7,8,8,7,7,6,6,5,5,4,4,3,3,2,2,1)
# #    neopixel:pico_led (1,2,3,4,5,6,7,8,7,6,5,4,3,2,1)
# layers:
#     comet   .5 .35 add (.2,0,0),(0.5,0,0),(0.5,0,0)
#     # comet   1 .5 add (.2,0,0),(0.5,0,0),(0.5,0,0)
# ###    comet   .55 .45 screen (.1,0,0),(0.2,0,0)
# #    comet   1 .5 add (.2,0,0)
# #    breathing      10 1     top (0.17,.04,.27)

# ### breathing      10 1     screen (0.8, 1.0, 1.0),(0.0, 0.8, 1.0),(0.0, 0.0, 1.0)
# ##    strobe      .5    10     top (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)
# ##    breathing      10 1     top (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)
# ##    twinkle     1     .25     top (0.28,.2,.3)
# #    linearfade    9   3   screen   (0.0, 0.0, 0.0),(1.0, 0.0, 0.0),(1.0, 1.0, 0.0),(1.0, 1.0, 1.0)
# #    fire 45 40 bottom (0.0, 0.0, 0.0),(1.0, 0.0, 0.0),(1.0, 1.0, 0.0),(1.0, 1.0, 1.0)
# #####################################################################################
# ##  https://github.com/julianschill/klipper-led_effect/blob/master/docs/LED_Effect.md
# #####################################################################################
# ##  example palettes:
# ##   Rainbow    - (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)
# ##   Fire       - (0.0, 0.0, 0.0),(1.0, 0.0, 0.0),(1.0, 1.0, 0.0),(1.0, 1.0, 1.0)
# ##   Blue Comet - (0.8, 1.0, 1.0),(0.0, 0.8, 1.0),(0.0, 0.0, 1.0)
# ##
# ##  effect (rate) (cutoff) (layer) (palette)
# ##    rate    = duration of a complete cycle
# ##    cutoff  = ratio of the time the LEDs are on: (0-1)
# ##    layer   = layer used for blending: (evaluated bottom up)
# ##    palette = color(s)
# #
# #  static     1 0 bottom (1,.1,0), (1,.1,0), (1,.1,0), (1,1,0)
# #  linearfade 1 0 screen (0.8, 1.0, 1.0),(0.0, 0.8, 1.0),(0.0, 0.0, 1.0)
# #  breathing .5 0 screen (0.8, 1.0, 1.0),(0.0, 0.8, 1.0),(0.0, 0.0, 1.0)
# #  blink
# #  strobe
# #  twinkle
# #  gradient
# #  pattern
# #  comet
# #  chase
# #  heater
# #  temperature
# #  fire
# #  heaterfire
# #  analogpin
# #  stepper
# #  steppercolor
# #  progress
# ##################
# #    strobe         1  1.5   add        (1.0,  1.0, 1.0)
# #    breathing      2  0     difference (0.95, 0.0, 0.0)
# #    static         1  0     top        (1.0,  0.0, 0.0)
# #    temperature  50 0 add    (0,1,0)
# #    static       0  0 top    (1,0,0)
# #heater: pico
